{% extends 'base.html' %}
{% load training_tag %}
{% block title %} Тренинг {{ training.name }} {% endblock title %}
{% block content %}
    <section class="container-fluid text-center">
        <div class="row">
            <div class="col">
                <h2 class="title-training">{{ training.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="{{training.image.url}}" class="img-inner" alt="картинка тренинга">
                <p>{{ training.trainingType }}</p>
                <p>{{ training.locality }}</p>
                <p>c {{ training.dtStart }} по {{ training.dtEnd }}</p>
                <span class="instructors">Тренеры:
                <ul>
                {% for instructor in training.instructors.all %}
                    <li> <a href="{{ instructor.get_absolute_url }}">{{ instructor.fio }}</a> </li>
                {% endfor %}
                </ul>
            </span>
            </div>
            <div class="col-9 article-content">
                <p>{{ training.description|safe }}</p>
            </div>
        </div>

    </section>

    {% get_reviews_training training=training.id %}


{% endblock content %}